.btn1 {
    margin-top: 0%;
    margin-left: 0%;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    background: #333;
    display: inline-block;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 5;
    display: inline-block;
    padding: 13px 32px;
    border-radius: 0px;
    text-transform: uppercase;
}

.rakah {
    color: red;
    margin-top: 3%;
    margin-left: 3%;
}


/* .btnplacé{
    margin-top: -15%;
    margin-left: -12%;
} */